/* Home Page Container */
.home {
  display: flex;
  min-height: 100vh; /* Full height */
  background-color: #f9f9f9;
}

/* Sidebar Styling */
.home.with-sidebar .sidebar {
  width: 250px; /* Sidebar width */
  background-color: #34495e; /* Sidebar background */
  color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


/* Main Content */
.home-main-content {
  flex: 1;
  padding: 20px;
}

.hero {
  padding: 50px 20px;
  text-align: center;
  background: #ecf0f1;
}

.hero-content h1 {
  font-size: 2.5em;
  color: #34495e;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  color: #555555;
  margin-bottom: 18px;
}

.cta-button {
  background: #27ae60;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;

}

.cta-button:hover {
  background: #2ecc71;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.gallery-item img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
