/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*full height and width for body and root */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* default background for body */
body {
  background-color: #f9f9f9; 
  font-family: Arial, sans-serif; 
}
